.cont{
    padding: 10px 100px;
    }
.pagename>span{
    display: flex;
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    justify-content: center;
    color: white;
    filter: brightness(120%);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    background-image: linear-gradient(90deg, #4458dc 0, #854fee), radial-gradient(circle at top left, #4458dc, #854fee);
    }
    .content{
        margin-top: 50px;
    display: flex;
    justify-content: space-between;
    }
.content>h1{
text-transform: capitalize;
}

.content>div h1::first-letter{
text-transform: capitalize;
    background-image: linear-gradient(90deg, #4458dc 0, #854fee), radial-gradient(circle at top left, #4458dc, #854fee);
    background-clip: text;
color: transparent;
text-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
font-size: 70px;
}
.content>div>p{
letter-spacing: 1px;
font-size: 1.3rem;
font-family: serif;
}
.content .right{
display: flex;
justify-content: center;
flex-direction: column;
    width: 50%;
    }
.content .left{
display: flex;
justify-content:center;
flex-direction: column;
align-items: center;
flex-wrap: wrap;

}
 .left .n{
display: flex;justify-content: center;
}
.socialIConCont{
display: flex;
column-gap: 15px;
}

 @media screen and (min-width:480px) and (max-width:1023px) {
.cont{
 width: 90%;
margin: 0 auto;
padding:10px;
}
.content{
display: flex;
flex-direction: column;
}

.content .right{
    justify-content: center;
display: flex;
width: 100%;
}
.content .left{
width: 100%;
justify-content: center;
}
.left .n{
width: 100%;
display: flex;
}
 }

 @media screen and (max-width:487px)  {
    .cont{
     width: 100%;
display: flex;
padding: 10px;
justify-content: center;
    }
    .content{
    display: flex;
    flex-direction: column;
    }
    .content .right{
        justify-content: center;
    display: flex;
    width: 100%;
    }

    .content .left{
    width: 100%;
margin: 0 auto;
    justify-content: center;
    }
    .left .n{
    width: 100%;
    display: flex;

flex-direction: column;

    }
.pagename{
 visibility: hidden;
opacity:0;

}

     }