.cont{
    padding: 10px 100px;
    }
.pagename>span{
    display: flex;
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    justify-content: center;
    color: white;
    filter: brightness(120%);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    background-image: linear-gradient(90deg, #4458dc 0, #854fee), radial-gradient(circle at top left, #4458dc, #854fee);
    }
    .content{
        margin-top: 50px;
    justify-content: space-between;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 15px;
    }
        @media screen and (min-width:769px) and (max-width:1024px) {
.cont{
width: 90%;
margin: 0 auto;
}
            }
                @media screen and (min-width:480px) and (max-width:768px) {
                    .cont{
                        width: 95%;
                         margin: 0 auto;
                        padding: 20px;
                        margin-right: 20px;
                        }
                    }
                    @media screen and (max-width:480px){
        .cont{
        width: 100%;
padding: 10px;
margin: 0 auto;
        }
.content{
width:100%;
grid-template-columns:repeat(1,1fr)
}
     }



