 #Client {

     max-width: 60rem;
     height: calc(100vh-4rem);
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0 1rem;
 }

 .clienttitle {
     padding: 1rem 0;
     font-size: 3rem;
 }

 .clientdescription {
     font-size: .9rem;
     max-width: 60rem;
     min-height: calc(100vh-4rem);
     font-weight: 200;
 }

 .clientimgs {
     max-width: 60rem;
     width: 100vh;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
 }

 .active {
     color: yellow;
     padding: .5rem;
     border-bottom: solid yellow;
 }

 .clientimg {
     width: 8rem;
     height: 8rem;
     margin: 2rem;
 }