#Contactme {
    max-width: 60rem;
    min-height: calc(100vh-4rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.active {
    color: yellow;
    padding: .5rem;
    border-bottom: solid yellow;
}

.linkimg {
    max-width: 100%;
    width: 100vh;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.link {
    margin: 1rem;
    height: 8rem;
    width: 8rem;

}

.Contactmetitle {
    padding: 1rem 0;
    font-size: 3rem;
}

.contactmedesc {
    font-size: .9rem;
    max-width: 60rem;
    min-height: calc(100vh-4rem);
    font-weight: 200;
}

.contactme {
    display: flex;
    flex-direction: column;


    width: 100vh;
    max-width: 100%;

}

.contactmebtn {
    padding: 1rem;
    border-radius: 2rem;
    background-color: white;
    width: 10rem;
    padding-left: 2rem;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1rem;
    color: black;
    margin: 2rem;
    margin-left: 10rem;

    &:hover {
        background-color: blue;
        color: white;
    }
}

input,
textarea {
    margin: 1rem;
    padding: 1rem;
    max-width: 100%;
    width: 100vh;

    background-color: rgb(40, 40, 40);
    outline: none;
    border: .1rem solid blue;

}