#skills {

    max-width: 60rem;
    min-height: calc(100vh-4rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.skilltitle {

    padding: 1rem 0;
    font-size: 3rem;
}

@media screen and (width: 450) {
    .skilltitle {
        font-size: 1.5rem;
        font: 300;
    }
}

.aboutskills {

    font-size: .9rem;
    max-width: 60rem;
    /* min-height: calc(100vh-4rem); */
    font-weight: 200;
}

@media screen and (max-width:460) {
    .aboutskills {
        max-width: 30rem;
    }
}

.skillbars {
    margin: 1.5rem;
    width: 100vh;
    max-width: 100%;
}

.skillbarimg {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin-right: 2rem;
}

.active {
    color: yellow;
    padding: .5rem;
    border-bottom: solid yellow;
}

.skilltext>p {
    font-size: .9rem;
    font-weight: 200;
}

.skillbar {
    text-align: left;
    display: flex;
    background-color: rgb(50, 50, 50);
    margin: 1rem;
    padding: 1.5rem;

    &:hover {
        transition: 1s;
        background-color: rgb(40, 40, 40);

    }
}